
.card.mx-auto.my-3 {
    width: 80%;
    background-color: #D9DCD6;
    display: flex;
}

.card-title {
    font-weight: 700; /* Montserrat Bold */ 
    color: black;
    text-align: center;
}

.card.mx-auto{
    background-color: #D9DCD6;
    width: 80%;
}

.card-text{
    font-weight: 550;
}

.form-group{
    font-weight: 700;
}

.container.mt-5{
    margin: 10px;
}

.card-text{
    font-weight: 550;
    text-align: justify;
}

.btn.mb-2{
    background-color: #3A7CA5;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
}

.btn.mb-2:hover{
    scale: 1.05;
}

.fa-regular.fa-bookmark,.fa-regular.fa-hand,.fa.fa-arrow-circle-left{
    margin-left: 5%;
}

/*AQUI TERMINA O CONTEÚDO PRINCIPAL*/